body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background-color: white;
  color: #272044;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px 30px 10px 30px;
}

.card h3 {
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

.card h5 {
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

.card-footer {
  padding: 0 30px 30px;
}

.card-header.grid {
  grid-gap: 0;
}

.btn {
  display: block;
  background: #462cb2;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 16px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.instagram-embeds {
  margin: 30px 0;
}

.footnote {
  text-align: center;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

main {
  color: #272044;
}

main h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h2 {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

footer p,
a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  padding-bottom: 4px;
}

footer a {
  color: white;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  font-size: 18px;
  opacity: 100%;
}

@media (max-width: 900px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 10px 20px;
    margin-top: 24px;
    font-size: 10px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
